{% if site.comments.enable and site.comments.type == 'valine' %}
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{ site.comments.appId }}',
            appKey: '{{ site.comments.appKey }}',
            meta: ['nick', 'mail'],
            requiredFields: ['nick'],
            placeholder: '在此留言...',
            pageSize: 20,
            visitor: true,
            recordIP: true,
            enableQQ: true,
avatar: 'robohash'
        })
    </script>
    <style>
        .vwrap{
            background-color:var(--background-color);
        }
        .v[data-class="v"] p{
            color: var(--text-color);
        }
    </style>
{% endif %}
